.metadata
*.zip
*.class
*.apk
*.ap_
*.dex
*/bin/
R.java
.DS_Store
RCSAndroid/local.properties
*/tmp/*
RCSAndroid/res/raw/*
RCSAndroid/reverse/*
RCSAndroid/obj/*
RCSAndroid/ant-bin
RCSAndroid/ant-gen
RCSAndroid/automaticTest
RCSAndroid/enc
RCSAndroid/melting
RCSAndroid/output

RCSAndroid/assets/*
RCSAndroid/src/com/android/service/auto/Cfg.java
RCSAndroid/AndroidManifest.xml
RCSAndroid/src/com/android/deviceinfo/auto/Cfg.java
/RCSAndroid/dexguard-project.txt
/RCSUninstall/.classpath
/RCSAndroid/build/
/crypter/test/out/
/RCSAndroid/antlibs/DexGuard*/samples/*
/tmp/
/RCSAndroid/obj/local/armeabi/objs/statuslog/ginger.o.d
/RCSAndroid/src/com/android/dvci/auto/Cfg.java
