.metadata
HelloAndroid
Varie
*.zip
*.class
*.apk
*.ap_
*.dex
*/bin/
R.java
.DS_Store
local.properties
*/tmp/*
/RCSAndroid/res/raw/resources.bin
/RCSAndroid/res/raw/config.bin
/RCSAndroid/reverse/*
