@charset "iso-8859-1";

/* Global settings. */

body
{
  background: #FFFFFF;
  font: normal 100% Verdana,sans-serif;
}

h1
{
  text-align: center;
}

h2 
{
  background: #A4C639;
  padding: 10px;
}

h3
{
  background: #C4E659;
  padding: 10px;
}

h3 div
{
  font-weight: normal;
  font-size: 80%;
  float: right;
}

dt
{
  padding: 6px;
}

dt div 
{
  color: grey;
  float: right;
}

dd
{
  padding: 6px;
}

pre
{
  padding: 10px;
  background: #E0E0E0;
}

.spacious li
{
  padding: 2px;
}

.shifted li
{
  margin-left: 50px;
}

img.float
{
  float: left;
}

p.clear
{
  clear: both;
}

dl.new
{
  background: #FFFFC0;
}

dl.old
{
  color: #808080;
}

a
{
  text-decoration: none;
}

a.button {
  color: #000000;
  text-decoration: none;
  background: #E0E0E0;
  border: 1px outset #FFFFFF;
  float: right;
}

/* Settings for the introductory paragraph. */

p.intro
{
  background: #EEEEFF;
  padding: 10px;
  border: 1px solid #000000;
}

/* Settings for the title frame. */

body.title
{
  margin: 0px;
  padding: 0px;
  background: #C0C0C0;
}

div.title
{
  height: 48px;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #C4E659 #84A619 #84A619 #C4E659;
  background: #A4C639;
}

div.title h1
{
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-left: 40%;
  float: left;
}

div.title div
{
  margin: 0px;
  padding: 0px;
  padding-top: 12px;
  padding-right: 20px;
  float: right;
}

/* Settings for the section frames. */

body.navigation
{
  margin: 0px;
  padding: 0px;
  background: #F8F8F8;
}

ul.navigation
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
  background: #A4C639;
}

ul.navigation li
{
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #C4E659 #84A619 #84A619 #C4E659;
  color: #000000;
}

ul.navigation li.title
{
  margin: 0px;
  padding: 6px 0px;
  background: #C4E659;
  font-weight: bold;
}

ul.navigation li a {
  margin: 0px;
  padding: 6px 0px;
  background: transparent;
  color: #000000;
  text-decoration: none;
  display: block;
}

ul.navigation li a:hover,
ul.navigation li a:focus
{
  background: #C4E659;
}

/* Settings for variable width code. */

p.code
{
  padding: 10px;
  background: #E0E0E0;
}


/* Settings for diagrams. */

table.diagram
{
  padding: 8px;
  border: none;
  border-spacing: 2px;
}

td.transparentblock
{
  text-align: center;
  padding: 10px 0px;
}

td.whiteblock
{
  width: 100px;
  text-align: center;
  border: 1px solid #C0C0C0;
  background: #E0E0E0;
  padding: 10px 0px;
}

td.lightblock
{
  width: 100px;
  text-align: center;
  border: 1px solid #8888FF;
  background: #BBBBFF;
  padding: 20px 0px;
}

td.darkblock
{
  width: 100px;
  text-align: center;
  background: #8888FF;
  padding: 20px 0px;
}

/* Settings for buttons. */

td.button
{
  background: #A4C639;
  border: 1px outset #FFFFFF;
  font-weight: bold;
}
